@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto slab', serif;
}
.first-section{
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.navbar{
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    flex-direction: row;
}

.header-link{
    font-size: 18px;
    color: #F9FAF8; 
    margin: 10px;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.content{
    display: flex;
    flex-direction: row;
}

.content-left, .content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}