@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto slab', serif;
}
.header{
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.header{
    padding: 20px;
    padding-left: 200px;
    padding-right:200px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    justify-content: space-around;
}

.list-item{
    font-size: 18px;
    color: #E5E7EB;
}

.second-section{
    background-color: #1F2937;
    display: flex;
}

.left-section{
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 200px;
    
}